<!DOCTYPE html>
<html>
<head>
    <title>Onboarding</title>
    <link rel="manifest" href="/manifest.json">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="/javascripts/indexDb.js" defer></script>
</head>
    <body class="bg-light bg-gradient d-flex flex-column align-items-center justify-content-center vh-100">
        <img src="img/onBoarding.png" class="img-fluid mx-auto d-block">

        <h1 class="fw-bold text-center fs-1 my-5">Discover birds near you or in all your trips</h1>

        <p class="fw-light fs-1 text-center w-50 mx-auto">Get outside, record their birding experiences, and share them with a fun and inclusive community that can guide your birding journey.</p>

        <div class="d-flex justify-content-center">
            <form class="my-5">
                <label class="visually-hidden" for="inlineFormInputGroupUsername">Nickname</label>
                <div class="input-group">
                    <div class="input-group-text f">Nick Name</div>
                    <input type="text" class="form-control-lg" id="inlineFormInputGroupUsername" placeholder="Anonymous">
                </div>
            </form>
        </div>


        <div>
            <button class="btn btn-primary btn-lg d-flex align-items-center mx-auto mb-5"
                    onclick="btnClick()">
                <span class="text-center fw-bold">Get Started</span>
            </button>
        </div>

        <script>
            function btnClick(){
                var inputField = document.getElementById('inlineFormInputGroupUsername');
                var inputValue = inputField.value
                sessionStorage.setItem('nickName', inputValue)
                if(sessionStorage.getItem('nickName')) {
                    window.location.href='/index'
                } else {
                    alert("Please Field Your Nick Name Before Start.")
                }
            }
        </script>
    </body>
</html>
